$base-class: digit-input;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  @media screen and (max-width: 668px) {
    &__input {
      font-size: 20px !important;
      width: 20px !important;
    }
  }

  &__input {
    font-size: 40px;
    width: 45px;
    outline: none;
    text-align: center;
    caret-color: transparent;
  }

  &__focused {
    background: #c2e9aa;
  }

  &__disabled {
    background: #d0d6f5 !important;
  }

  &__error {
    background: rgb(247, 229, 229);
  }

  &__focused_element {
    background-color: rgb(243, 236, 197);
  }

  &__side-margin {
    margin-right: 5px;
  }

  &__bottom-margin {
    margin-bottom: 5px;
  }
}
