$base-class: digit-input;

:export {
  baseClass: $base-class;
}

.#{$base-class} {
  &__input {
    font-size: 40px;
    width: 45px;
    outline: none;
    text-align: center;
    caret-color: transparent;
  }

  &__input:focus {
    background: #eeeeee;
  }

  &__side-margin {
    margin-right: 5px;
  }

  &__bottom-margin {
    margin-bottom: 5px;
  }
}
